.footer {
    padding: 20px 0;
    
    &__container {
        display: flex;
        align-items: center;

        @media(max-width: $tablet) {
            align-items: flex-start;
        }

        @media(max-width: $mobile) {
            flex-direction: column;
        }
    }

    &__info {
        display: flex;
        align-items: center;
        margin-right: auto;

        img {
            margin-right: 20px;
        }

        @media(max-width: $tablet) {
            flex-direction: column;
            align-items: flex-start;

            img {
                margin-bottom: 20px;
            }
        }

        @media(max-width: $mobile) {
            display: flex;
            align-items: center;
            margin-right: 0;
            width: 100%;

            img {
                margin-right: 0;
            }
        }

        .contacts {
            flex-direction: row;
            align-items: center;

            @media(max-width: $desktop) {
                align-items: flex-start;
            }

            a, span {
                margin-bottom: 0;
                margin-right: 30px;

                @media(max-width: $mobile) {
                    margin-right: 0;
                }
            }

            @media(max-width: $tablet_large) {
                flex-direction: column;

                a, span {
                    margin-bottom: 12px;
                }

                a:last-child {
                    margin-bottom: 0;
                }
            }

            @media(max-width: $mobile) {
                align-items: center;
                text-align: center;
                margin-right: 0;
                margin-bottom: 50px;
            }
        }
    }

    &__user {
        @media(max-width: $mobile) {
            width: 100%;
        }
        .user {
            display: none;

            img {
                width: 80px;
                height: 80px;
            }

            @media(max-width: $tablet_large) {
                display: flex;
            }

            @media(max-width: $mobile) {
                flex-direction: column;
                align-items: center;
                text-align: center;
            }
        }
    }
}