.footer {
    padding: 20px 0;
    
    &__container {
        display: flex;
        align-items: center;
    }

    &__info {
        margin-right: auto;

        .contacts {
            flex-direction: row;
            align-items: center;

            a, span {
                margin-bottom: 0;
                margin-right: 30px;
            }

            @media(max-width: $tablet_large) {
                flex-direction: column;

                a, span {
                    margin-bottom: 12px;
                }

                a:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    &__user {
        .user {
            display: none;

            @media(max-width: $tablet_large) {
                display: flex;
            }
        }
    }
}