.header {
    position: sticky;
    top: 0;

    @media(max-width: $tablet_large) {
        display: none;
    }

    padding: 20px 0;
    margin-bottom: 20px;
    background-color: $white;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    z-index: 10;

    &__container {
        display: flex;
        align-items: center;
    }

    &__logo {
        margin-right: 20px;
    }

    &__info {
        display: flex;
        align-items: center;
        margin-right: auto;
        flex-grow: 1;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            max-width: 150px;
            max-height: 100px;
        }
    }

    &__user {
        display: flex;
        align-items: center;
        //margin-right: 200px;

        @media(max-width: $desktop) {
            margin-right: 0;
        }
    }
}