extends layouts/main-layout.pug

block variables
  -
    const title = "JoyWork"
    const desc = "Presentation page"
    const keywords = ""

block content
  include ./views/detail-page/presentation
  
block modals