.object {
    &__list {
        width: 100%;

        &-item {
            display: grid;
            grid-template-columns: 375px auto;
            grid-column-gap: 20px;
            padding: 20px;
            margin-bottom: 20px;
            background-color: $white;
            border: $light-border;
            border-radius: 5px;
            height: fit-content;
            min-height: 300px;

            @media(max-width: 959px) {
                display: flex;
                flex-direction: column;
            }
        }

        &-item-slider {
            padding-top: 25px;

            @media(max-width: 959px) {
                padding-top: 0;
                width: 100%;
                margin-bottom: 20px;
            }

            .slider .apartment-slider .swiper-wrapper {
                height: 200px;
                @media(max-width: 959px) {
                    height: 250px;
                }

                @media(max-width: 534px) {
                    height: 200px;
                }
            }

            .slider .apartment-slider .swiper-wrapper {
                margin-bottom: 0;
            }
        }
    }
}

.object-info {
    @extend .flex-column;

    &__header {
        display: flex;
        margin-bottom: 20px;

        h2 {
            font-size: 28px;
            font-weight: 400;
            line-height: 34px;
            color: $black;
            width: calc(100% - 50px);

            @media(max-width: 479px) {
                font-size: 22px;
                line-height: 1.1;
            }

        }

        svg {
            fill: $gray-900;
            margin-top: 5px;
            margin-left: auto;

            &.active {
                fill: $accent;
            }
        }
    }

    &__content {
        display: grid;
        grid-template-columns: auto 200px 200px;
        grid-column-gap: 30px;
        margin-bottom: 20px;

        @media(max-width: 1359px) {
            display: flex;
            flex-wrap: wrap;
        }

        &-section {
            @extend .flex-column;
            justify-content: flex-end;

            @media(max-width: 1359px) {
                //justify-content: flex-start;
            }

            & > span {
                display: block;
                margin-bottom: 10px;
            }

            & > p,
            & > strong {
                margin-bottom: 10px;
            }
            
            .mortgage-badge {
                margin-bottom: 13px;
            }

            strong {
                font-size: 24px;
                font-weight: 400;
                line-height: 29px;
            }

            @media(max-width: 1359px) {
                &:not(:first-child) {
                    width: 50%;
                    max-width: 180px;
                }

                &:first-child {
                    margin-bottom: 15px;
                }
            }

            @media(max-width: 479px) {
                address {
                    font-size: 16px;
                    line-height: 1.1;
                }

                &:not(:first-child) {
                    width: 100%;
                    max-width: 100%;
                }

                margin-bottom: 15px;
            }
        }

        .wrapper {
            @extend .flex-align-center;
            margin-bottom: 10px;
        }

        .flex-align-center {
            margin-bottom: 10px;
        }

        address {
            font-style: normal;
            margin-bottom: 10px;
        }
    }

    &__footer {
        margin-top: auto;
    }
}

.page-header {
    display: none;
    @extend .flex-centered-content;
    padding-top: 20px;

    a {
        @extend .flex-centered-content;
    }
    svg {
        margin-right: 10px;
    }

    span {
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;

        color: $gray-900;
    }
    
    @media(max-width: 960px) {
        display: flex;
    }

    @media(max-width: 480px) {
        margin-bottom: 10px;
    }
}