.presentation {
    &__container {
        display: flex;
        flex-wrap: wrap;
    }

    &__section {
        width: 48%;
        max-width: 870px;
        margin-right: auto;
        margin-bottom: 10px;

        &--about,
        &--map {
            width: 50%;
            max-width: 930px;
            margin-right: 0;
        }

        @media(max-width: $desktop) {
            width: 100%;
            max-width: 100%;
            order: 1;

            &--slider {
                width: 48%;
            }

            &--about {
                width: 50%;
            }
        }

        @media(max-width: $tablet_large) {
            width: 100%;
            order: 1;

            &--description {
                order: 3;
                margin-bottom: 40px;
            }

            &--map {
                order: 2;
            }
        }
    }
}