.cmn {
    &__container {
        @include container();
    }

    &__title {
        font-size: 36px;
        line-height: 43px;
        color: $black;
    }

    &__text {
        font-size: 15px;
        line-height: 18px;
        
        &--small {
            font-size: 14px;
            line-height: 17px;
        }

        &--med {
            font-size: 18px;
            line-height: 22px;
        }

        &--info {
            font-size: 16px;
            line-height: 19px;
        }

        &--info-large {
            font-size: 28px;
            line-height: 34px;
        }
    }

    &__underline {
        text-decoration: underline;
    }
    
    &__black {
        color: $black; // #000000
    }

    &__main {
        color: $black-300; // #333333
    }

    &__light {
        color: $gray-900; // #757575
    }

    &__gray {
        color: $gray; // #666666
    }

    &__extra {
        color: $black-400; // #222222
    }


}
