footer.footer
  .cmn__container.footer__container
    img(src="./assets/img/logo.png" alt="логотип" width="117" height="100").header__logo

    .footer__info
      include ./blocks/info

    .footer__user
      include ./blocks/user