footer.footer
  .cmn__container.footer__container

    .footer__info
      img(src="./assets/img/logo.png" alt="логотип" width="90" height="77")

      include ./blocks/contacts

    .footer__user
      include ./blocks/user