header.header
  .cmn__container.header__container
    img(src="./assets/img/logo.png" alt="логотип" width="117" height="100").header__logo

    .header__contacts
      include ./blocks/contacts
    
    .header__user
      include ./blocks/user