header.header
  .cmn__container.header__container
    .header__info
      //./assets/img/logo.png
      img(src="./assets/img/slide_1.jpg" alt="логотип" width="117" height="100").header__logo

      include ./blocks/contacts
    
    .header__user
      include ./blocks/user