.more-link {
    @extend .flex-centered-content;
    font-size: 14px;
    line-height: 17px;

    padding: 10px;

    width: 150px;
    height: 40px;

    background-color: $success;
    color: $white;
    border-radius: 5px;

    @extend .hover-opacity-transition;

    @media(max-width: 479px) {
        width: 100%;
    }
}