section.presentation
  .cmn__container
    .presentation__container
      h1.visually-hidden Агентство недвижимости "Первое Ипотечное Агентство". Презентация объекта
      .presentation__section.presentation__section--slider
        include ./blocks/slider
      .presentation__section.presentation__section--about
        include ./blocks/about
      .presentation__section.presentation__section--description
        include ./blocks/description
      .presentation__section.presentation__section--map
        include ./blocks/map
    