.contacts
  span.cmn__text.cmn__text--small.cmn__main Агентство недвижимости<br/>Первое Ипотечное Агентство
  a(href="https://www.piaspb.ru").cmn__text.cmn__text--small.cmn__gray.cmn__underline www.piaspb.ru
  a(href="mailto:N.Zueva@pia-spb.ru").cmn__text.cmn__text--small.cmn__gray.cmn__underline N.Zueva@pia-spb.ru
  a(href="tel:+78123353696").cmn__text.cmn__text--info.cmn__main +78123353696