.user
  img(src="./assets/img/slide_1.jpg" alt="аватар" width="100" height="100")
  .user__info
    span.cmn__text.cmn__text--small.cmn__gray Ваш агент
    span.cmn__text.cmn__text--small.cmn__main Зуева Надежда Павловна
    a(href="mailto:N.Zueva@pia-spb.ru").cmn__text.cmn__text--small.cmn__gray.cmn__underline N.Zueva@pia-spb.ru
    a(href="tel:+78123353696").cmn__text.cmn__text--info.cmn__main +78123353696