mixin main-slider(array, thumbs)
  .slider
    .swiper-container.apartment-slider 
      .swiper-wrapper
        each slide in array
          .swiper-slide
            a(href=slide.img target="_blank") 
                img(src=slide.img alt="фото объекта")
      .swiper-button-prev.apartment-slider-button-prev 
      .swiper-button-next.apartment-slider-button-next 
    
    if thumbs
      .swiper-container.apartment-slider-thumbs
        .swiper-wrapper
          each slide in array
            .swiper-slide
              img(src=slide.img alt="фото объекта")