.map {
    width: 100%;
    height: 400px;
    margin-top: -40px;

    @media(max-width: $desktop) {
        margin-top: 0;
    }

    #yandex-map {
        width: 100%;
        height: 100%;

        .zoom {
            display: flex;
            flex-direction: column;

            &-btn {
                position: relative;
                border: 0;
                background-color: $white;

                width: 30px;
                height: 30px;
                box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

                &:hover,
                &:focus {
                    opacity: 0.8;
                }

                &:active {
                    opacity: 0.6;
                }

                &::before {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);

                    content: '';

                    width: 24px;
                    height: 24px;
                }

                &-in {
                    margin-bottom: 2px;
                    &::before {
                        background-image: url("../assets/img/zoom-in-icon.svg");
                    }
                }

                &-out {
                    &::before {
                        background-image: url("../assets/img/zoom-out-icon.svg");
                    }
                }
            }
        }
    }
}