.slider {
    .apartment-slider {
        .swiper-wrapper {
            margin-bottom: 10px;
            height: 580px;

            @media(max-width: $desktop) {
                height: 400px;
            }

            @media(max-width: $tablet) {
                height: 290px;
            }
        }

        .swiper-slide {
            width: 100%;
            height: 100%;

            a {
                width: 100%;
                height: 100%;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .swiper-slide-zoomed {
            img {
                object-fit: contain !important;
            }
        }
    }

    .apartment-slider-thumbs {
        .swiper-wrapper {
            width: 100%;
            height: 80px;

            @media(max-width: $tablet) {
                height: 64px;
            }
        }

        .swiper-slide {
            width: 100px;
            height: 80px;

            @media(max-width: $tablet) {
                width: 80px;
                height: 64px;
            }

            cursor: pointer;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}