-
  content = [
    'А также многие известные личности представлены в исключительно положительном свете. Идейные соображения высшего порядка, а также семантический разбор внешних противодействий представляет собой интересный эксперимент проверки переосмысления внешнеэкономических политик. Таким образом, постоянное информационно-пропагандистское обеспечение нашей деятельности напрямую зависит от стандартных подходов.',
    'С другой стороны, экономическая повестка сегодняшнего дня предполагает независимые способы реализации первоочередных требований. В рамках спецификации современных стандартов, элементы политического процесса, вне зависимости от их уровня, должны быть ассоциативно распределены по отраслям. Лишь ключевые особенности структуры проекта неоднозначны и будут преданы социально-демократической анафеме. А также многие известные личности представлены в исключительно положительном свете. Идейные соображения высшего порядка, а также семантический разбор внешних противодействий представляет собой интересный эксперимент проверки переосмысления внешнеэкономических политик. Таким образом, постоянное информационно-пропагандистское обеспечение нашей деятельности напрямую зависит от стандартных подходов.',
    'С другой стороны, экономическая повестка сегодняшнего дня предполагает независимые способы реализации первоочередных требований. В рамках спецификации современных стандартов, элементы политического процесса, вне зависимости от их уровня, должны быть ассоциативно распределены по отраслям. Лишь ключевые особенности структуры проекта неоднозначны и будут преданы социально-демократической анафеме.',
    'С другой стороны, экономическая повестка сегодняшнего дня предполагает независимые способы реализации первоочередных требований. В рамках спецификации современных стандартов, элементы политического процесса, вне зависимости от их уровня, должны быть ассоциативно распределены по отраслям. Лишь ключевые особенности структуры проекта неоднозначны и будут преданы социально-демократической анафеме.'
  ]

.description
  .description__header
    span.cmn__text.cmn__text--med Описание

  .description__content
    each text in content
      p.cmn__text= text